# Virtual Environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo

# PyCharm project settings
.idea/
idea/

# Windows junk files
Thumbs.db
desktop.ini

# Environment variable files
.env